<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- ConnectionString med navnet "Lax"
    TEC-C-PC3 er navnet på den fysiske pc og SQLP2 er instansnavnet til databasen 
    Databasen Lax vælges 
    Integrated Security sat til true vælger Windows Authentication
    providerName sat til System.Data.SqlClient er .NET framework data provider til SQL -->
    <add name="AdminCS"
      connectionString="Data Source=WIN-NLHEMLVOTK9\GEOTEMEINSTANCE; Initial Catalog=fødselsrate_2017; User Id=Administrator; Password=Passw0rd!;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
